.App {
  text-align: center;
  width: 100vw;
  height: 100vw;
  background-color: #ccc;
}

.Page { 
  position: absolute; 
  border: solid 1px #000;
  width: 800px;
  height: 600px;
}

.Panel {
  position: absolute;
  border: solid 1px #000;
  width: 200px;
  height: 200px;
}

.Block {
  position: absolute;
  border: solid 1px #000;
  width: 100px;
  height: 100px;
}
